{% extends 'base.html.twig' %}

{% block title %}Medicament index{% endblock %}

{% block body %}
    <h1>Medicament index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>InfoGenerale</th>
                <th>KqueQuantite</th>
                <th>Presentation</th>
                <th>AspectForme</th>
                <th>CasUtilisation</th>
                <th>Posologie</th>
                <th>Effet</th>
                <th>ContreIndication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.id }}</td>
                <td>{{ medicament.nom }}</td>
                <td>{{ medicament.infoGenerale }}</td>
                <td>{{ medicament.kqueQuantite }}</td>
                <td>{{ medicament.presentation }}</td>
                <td>{{ medicament.aspectForme }}</td>
                <td>{{ medicament.casUtilisation }}</td>
                <td>{{ medicament.Posologie }}</td>
                <td>{{ medicament.effet }}</td>
                <td>{{ medicament.expicients }}</td>
                <td>{{ medicament.contreIndication }}</td>
                <td>
                    <a href="{{ path('medicament_show', {'id': medicament.id}) }}">show</a>
                    <a href="{{ path('medicament_edit', {'id': medicament.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medicament_new') }}">Create new</a>
{% endblock %}
