{% extends 'base.html.twig' %}

{% block title %}Pharmacy index{% endblock %}

{% block body %}
    <h1>Pharmacy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Cover</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pharmacy in pharmacies %}
            <tr>
                <td>{{ pharmacy.id }}</td>
                <td>{{ pharmacy.nom }}</td>
                <td>{{ pharmacy.adresse }}</td>
                <td>{{ pharmacy.telephone }}</td>
                <td>{{ pharmacy.email }}</td>
                <td>{{ pharmacy.cover }}</td>
                <td>{{ pharmacy.latitude }}</td>
                <td>{{ pharmacy.longitude }}</td>
                <td>
                    <a href="{{ path('pharmacy_show', {'id': pharmacy.id}) }}">show</a>
                    <a href="{{ path('pharmacy_edit', {'id': pharmacy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pharmacy_new') }}">Create new</a>
{% endblock %}
