{% extends 'base.html.twig' %}

{% block title %}Docteur index{% endblock %}

{% block body %}
    <h1>Docteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Cabinet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for docteur in docteurs %}
            <tr>
                <td>{{ docteur.id }}</td>
                <td>{{ docteur.nom }}</td>
                <td>{{ docteur.prenom }}</td>
                <td>{{ docteur.telephone }}</td>
                <td>{{ docteur.adresse }}</td>
                <td>{{ docteur.email }}</td>
                <td>{{ docteur.cabinet }}</td>
                <td>
                    <a href="{{ path('docteur_show', {'id': docteur.id}) }}">show</a>
                    <a href="{{ path('docteur_edit', {'id': docteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('docteur_new') }}">Create new</a>
{% endblock %}
