{% extends 'base.html.twig' %}

{% block title %}CodeATC index{% endblock %}

{% block body %}
    <h1>CodeATC index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for code_a_t_c in code_a_t_cs %}
            <tr>
                <td>{{ code_a_t_c.id }}</td>
                <td>{{ code_a_t_c.code }}</td>
                <td>{{ code_a_t_c.libelle }}</td>
                <td>
                    <a href="{{ path('code_a_t_c_show', {'id': code_a_t_c.id}) }}">show</a>
                    <a href="{{ path('code_a_t_c_edit', {'id': code_a_t_c.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('code_a_t_c_new') }}">Create new</a>
{% endblock %}
