<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="{{ path('code_a_t_c_index') }}">Code ATC</a></li>
            <li><a href="{{ path('kque_unite_index') }}">Qté Uté</a></li>
            <li><a href="{{ path('laboratoire_index') }}">Laboratoire</a></li>
            <li><a href="{{ path('medicament_index') }}">Médicament</a></li>
            <li><a href="{{ path('pathologie_index') }}">Pathologie</a></li>
            <li><a href="{{ path('pharmacie_index') }}">Pharmacie</a></li>
            <li><a href="{{ path('principes_actifs_index') }}">Principe Actifs</a></li>
            <li><a href="{{ path('produits_index') }}">Produits</a></li>
            <li><a href="{{ path('tour_garde_index') }}">Tour de Garde</a></li>
            <li><a href="{{ path('specialite_index') }}">Specialite</a></li>
            <li><a href="{{ path('docteur_index') }}">Docteur</a></li>
            <li><a href="{{ path('rendezvous_index') }}">Rendez-vous</a></li>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
