<ul class="list">
            {# <li class="header">MAIN NAVIGATION</li> #}
            <li class="active">
                <a href="{{ path('home') }}">
                    <i class="material-icons">home</i>
                    <span>{{ 'action.home.title'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('docteur_index') }}">
                    <i class="material-icons">domain</i>
                    <span>{{ 'action.docteur.title'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('pharmacie_index') }}">
                    <i class="material-icons">local_pharmacy</i>
                    <span>{{ 'action.pharmacie.title'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">local_hospital</i>
                    <span>{{ 'action.medicament.title'|trans }}</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="{{ path('medicament_index') }}">
                            <i class="material-icons">subject</i>
                            <span>{{ 'action.medicament.title'|trans }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">settings</i>
                            <span>{{ 'action.medicament.configuration.title'|trans }}</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{{ path('laboratoire_index') }}">{{ 'action.medicament.configuration.laboratoire'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('code_atc_index') }}">{{ 'action.medicament.configuration.code_atc'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('pathologie_index') }}">{{ 'action.medicament.configuration.pathologie'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('principes_actifs_index') }}">{{ 'action.medicament.configuration.principe_actif'|trans }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>