{% extends 'base.html.twig' %}

{% block title %}Laboratory{% endblock %}

{% block body %}
    <h1>Laboratory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ laboratory.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ laboratory.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ laboratory.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ laboratory.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ laboratory.email }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ laboratory.siteweb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('laboratory_index') }}">back to list</a>

    <a href="{{ path('laboratory_edit', {'id': laboratory.id}) }}">edit</a>

    {{ include('laboratory/_delete_form.html.twig') }}
{% endblock %}
