{% extends 'base.html.twig' %}

{% block title %}{{ 'action.pharmacie.title'|trans }}{% endblock %}

{% block body %}
    <section class="content">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                {{ 'pharmacie.list.title'|trans }}
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <a href="{{ path('pharmacie_new') }}" type="button" class="btn btn-info waves-effect pull-right">{{ 'menu.create'|trans }}</a>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'pharmacie.fields.nom'|trans }}</th>
                                        <th>{{ 'pharmacie.fields.adresse'|trans }}</th>
                                        <th>{{ 'pharmacie.fields.telephone'|trans }}</th>
                                        <th>{{ 'pharmacie.fields.latitude'|trans }}</th>
                                        <th>{{ 'pharmacie.fields.longitude'|trans }}</th>
                                        <th>{{ 'menu.table.actions'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pharmacie in pharmacies %}
                                    <tr>
                                        <th scope="row">{{ pharmacie.id }}</th>
                                        <th>{{ pharmacie.nom }}</th>
                                        <th>{{ pharmacie.adresse }}</th>
                                        <th>{{ pharmacie.telephone }}</th>
                                        <th>{{ pharmacie.latitude }}</th>
                                        <th>{{ pharmacie.longitude }}</th>
                                        <th>
                                            <a href="{{ path('pharmacie_show', {'id': pharmacie.id}) }}"> {{ 'menu.show'|trans }} </a>
                                            <a href="{{ path('pharmacie_edit', {'id': pharmacie.id}) }}"> {{ 'menu.edit'|trans }} </a>
                                        </th>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">{{ 'action.table.no_record'|trans }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
